version.ss
build-deps
run/
.build/
result/
state-node-testnet/
wallet-database/
scb-core.*
dep/*/*
!dep/*/default.nix
!dep/*/thunk.nix
!dep/*/github.json
demo
start-all-servers.sh
start-second-scb.sh
